.quizSection {
    color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:orange;    
}

.quizSection p {
    font-size: large;
    font-weight: bold;
}

.reviewSection {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00CCFF;    
}

.option {
    padding: 8px;
    border: 3px solid #000000;
    border-radius: 30px;
    width: 100%;
    cursor: pointer;    
    font-weight: bold;
    text-shadow: none;
}

.selected {
    transition: background-color 0.5s;
    background-color: yellow;
    color: #17252A;
    text-shadow: none;
}

@media all and (max-width: 576px) {
    * {
        font-size: 0.8rem;
    }
    .quizSection {
        height: 60vh;
    }
    .reviewSection {
        height: 40vh;
    }
}